.user-Logo{
    border-radius: 50%;
    height: 140px;
    width: 153px; 
    height: 160px;
    width: 160px;
}
.form{
    margin: -77px -71px 0px -68px;
}
.banner{
    background: #f6c403;
    /* background: lightblue; */

    min-height: 300px;
    text-align: center;
    padding:32px 16px;
}
.skills{
    text-align:right;
    font-size: 45px;
    font-weight: bolder;
    padding:20px 16px;
}
.banner1{
    /* background: #f6c403; */
    background: lightblue;

    min-height: 300px;
    text-align: center;
    padding:32px 16px;
}
.tabset{
    background:lightblue;
    background:lightblue;
}
.inputfield{
    border: 2px solid red;
  border-radius: 4px;
}
.name{
    
    font-weight: bolder;
    text-shadow: 2px 2px 5px red;
        font-size: 80px;
       

}

/*
.location  {
    font-size: x-large;
}
.designation {
    font-size: x-large;
}*/
.Linkedin{
    height: 40px;
    width: 40px;
    margin: 16px 16px 0px 0px;
}
.Trailhead{
    height: 40px;
    width: 40px;
    margin: 16px 16px 0px 0px;
}