.THIS{
    color:blue;

} 
 .THIS .p{
    color:black;
    background-color: pink;
    font-size: xx-large;
    border: 3px black solid;


}

.THIS .h{
    border: 3px black solid;
    color:white;
    background-color: pink;
    font-size: xx-large;

}